@import 'bootstrap';


* {
  font-size: 18px;
}

/* Navigation */
.navbar {
  padding: 0.5rem 1rem;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 20px;
  text-space: 1px;
  letter-spacing: 1px;
  text-align: center;
}

.navbar-dark .navbar-brand {
  font-size: 20px;
  padding-left: 3rem;
  letter-spacing: 2px;
}

/*  Main Page */
.bg-img {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.9s;
  height: 100vh;
}

.text-cover {
  font-size: 30px;
  font-weight: 300;
  color: white;
  margin: 3rem 3rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border: none;
}

.text-cover:hover {
  color: white;
  background-color: #212121;
}

/*  section Main Map */
.map {
  margin-bottom: 3rem;
}
.map-icon {
  font-size: 2.5rem;
  color: #17A2B8;
}
.main-map h2 {
  margin: 3rem 0 4rem;
  text-align: center;
}

.main-map {
  padding: 0 1rem;
  text-align: justify;
  margin-bottom: 3rem;
}

/* section-mainPicture */

.section-mainPicture p {
  color: white;
  font-size: 110%;
  width: 50%;
}

.imageBackgroundOrhei {
  background-image: linear-gradient(45deg, dimgrey, transparent 50%), url("../shared/images/orheiVechi.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 50vh;
}

/* section-mainWhen */
.section-mainWhen h2 {
  text-align: center;
}

.section-mainWhen img {
  border: 1px solid black;
  width: 110%;
}

.section-mainWhen {
  margin: 4rem auto 8rem;

}

/*****Footer ******/
.footer-fluid {
  background-color: #535c68;
  padding: 2rem 1rem;
}

.footer-p1 {
  text-align: right;
  padding-top: 5px;
}

.footer-fluid p {
  color: white;
  font-size: 25px;
}

.Footer-Note {
  text-align: center;
  color: white;
}

.footer-fluid a {
  margin-left: 1rem;
  color: #c1a445;
}

.footer-fluid a:hover {
  color: blue;
}

.footer-p1 a {
  color: white;
  font-size: 25px;
}

.name:hover {
  color: #c1a445;

}

/**********************  Destinations *****************************************************/
.destination h1 {
  margin: 3rem 0 3rem;
  text-align: center;
}

.destinationCard {
  margin: 3rem 0 5rem;
  text-align: center;
  font-size: 18px;
}
.destinationCard a {
  color: #212121;
  text-decoration: none;
}
.profileDestinationCard {
  margin: 1rem 1rem 5rem;
  text-align: center;
}
.profile h1 {
  margin: 3rem;
}
.destinationCardElement {
  border: 1px solid #4b4a49;
  width: 25rem;
  -moz-border-radius-bottomright: 0.5rem ;
  -moz-border-radius-bottomleft: 0.5rem ;
}

.destinationCardElement:hover {
  border: 1px solid #4b4a49;
  box-shadow: 2px 2px 2rem #393939;
  -moz-border-radius-bottomright: 0.5rem ;
  -moz-border-radius-bottomleft: 0.5rem ;
  color: #212121;
  text-decoration: none;
}

.destinationCardElement img {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}


/*****************************Destination Each Page *****************************/
.destinationEach {
  margin: 3rem 1rem 5rem;
  border: none;
}

.destinationEachImage {
  width: 35vw;
  height: 15vw;
  object-fit: cover;
}

.destinationTitle {
  text-align: center;
}

.singlePageLocation {
  font-size: 120%;
  font-weight: bold;
}

.singlePageText {
  margin-top: 1rem;
  text-align: justify;
}

/**********************  Food *****************************************************/
.food h1 {
  text-align: center;
  margin: 5rem 0 3rem;
}

.food p {
  text-align: justify;
}

.foodCard {
  margin: 3rem 1rem 5rem;
}

.foodCardElement {
  width: 25rem;
  border: 1px solid #323232;
  border-radius: 0 0 0.5rem 0.5rem;
}

.foodCardElement:hover {
  border: 1px solid #4b4a49;
  box-shadow: 2px 2px 2rem #393939;
  border-radius: 0 0 0.5rem 0.5rem;
}

.foodCardElement input {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

.foodCardElement p {
  font-size: 16px;
}

/**********************  Tradition *****************************************************/
.tradition h1 {
  text-align: center;
  margin: 5rem 0 3rem;
}

.tradition p {
  text-align: justify;
}

.traditionCard {
  margin: 3rem 1rem 5rem;
}

.traditionCardElement {
  width: 25rem;
  border: 1px solid #323232;
  border-radius: 0 0 0.5rem 0.5rem;
}

.traditionCardElement:hover {
  border: 1px solid #4b4a49;
  box-shadow: 2px 2px 2rem #393939;
  border-radius: 0 0 0.5rem 0.5rem;
}

.traditionCardElement input {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}


.traditionCardElement p {
  font-size: 16px;
}



/****************************************   END  ****************************************************/

/********** Ipad size *************/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .navbar-brand {
      margin: 0;
      padding: 1rem;
      font-size: 24px;
  }

  .navbar-dark .navbar-brand {
      font-size: 24px;
      padding-left: 0;
      letter-spacing: 2px;
  }

  .text-cover {
      font-size: 35px;
      text-align: left;
      margin: 2rem 0;
      padding: 1rem;
  }


  .section-mainPicture p {
      padding: 1rem 1rem;
      color: white;
      font-size: 160%;
      width: 80%;
      height: 90%;
  }

  .imageBackgroundOrhei {
      background-image: linear-gradient(45deg, dimgrey 35%, transparent), url("../shared/images/orheiVechi.png");
  }

  .section-mainWhen {
      margin: 3rem 2rem;
      border: none;
      text-align: justify;
  }

  .section-mainWhen img {
      margin-top: 3rem;
      border: 1px solid black;
      width: 100%;
  }

  .destinationCardElement img {
      width: 100%;
      height: 40vw;
      object-fit: cover;
      padding-bottom: 1rem;
  }

  .destinationCardElement {
      width: 18rem;
  }

  .destination-title {
      height: 5vw;
      text-align: center;
  }
  .traditionCardElement {
      width: 40px;
      border: 1px solid #323232;
      border-radius: 0 0 0.5rem 0.5rem;
  }
  .traditionCardElement input {
      height: 40vw;
  }

  .foodCardElement input {
      height: 40vw;
  }
  .footer-p1 {
      text-align: left;
      padding-top: 5px;
  }

  .Footer-Note {
      text-align: center;
      color: white;
  }

  .footer-fluid a {
      margin-left: 1rem;
      color: #c1a445;
  }

}

/********** Mobile size *************/
@media only screen and (max-width: 767px) {
  .navbar-brand {
      margin: 0;
      padding: 0;
      font-size: 20px;
  }

  .navbar-dark .navbar-brand {
      font-size: 20px;
      padding-left: 0;
      letter-spacing: 2px;
  }

  .text-cover {
      font-size: 25px;
      text-align: left;
      margin: 1.6rem 0.2rem;
      padding: 0;
  }

  .main-map img {
      padding-left: 1rem;
      margin-bottom: 2rem;
  }

  .section-mainPicture p {
      padding: 1rem 1rem;
      color: white;
      font-size: 95%;
      width: 85%;
      height: 90%;
  }

  .imageBackgroundOrhei {
      background-image: linear-gradient(45deg, dimgrey 35%, transparent), url("../shared/images/orheiVechi.png");
  }

  .section-mainWhen {
      margin: 0 1rem 4rem;
      border: none;
      text-align: justify;
  }

  .section-mainWhen img {
      margin-top: 1rem;
      border: 1px solid black;
      width: 100%;
  }

  .footer-p1 {
      text-align: left;
      padding-top: 5px;
  }

  .Footer-Note {
      text-align: center;
      color: white;
  }

  .footer-fluid a {
      margin-left: 1rem;
      color: #c1a445;
  }

  .destinationCardElement img {
      width: 100%;
      height: 60vw;
      object-fit: cover;
      padding-bottom: 1rem;
  }

  .traditionCardElement input {
      height: 60vw;
      object-fit: cover;
  }
  .foodCardElement input{
      height: 60vw;
  }
}

